OPENAI_API_KEY=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

# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
PINECONE_API_KEY=572864f0-2ed8-46e5-8fa6-df34cbcb2ec5
PINECONE_ENVIRONMENT=gcp-starter
PINECONE_INDEX_NAME=langchainfundamentals
